/* Grid -----------------------------------*/
body{
    padding: 0;
    margin: 0;
}

/* .box-grid{
    display: grid;
    grid-template: repeat(4, auto) / 25% auto;
    grid-template-areas: "encabezado encabezado"
                        "navegador navegador"
                        "seccion seccion"
                        "pie pie";

} */

main{
    padding: 0;
    margin: 0;

}

/* navegador ----------------------------------------- */
.nav-rec{
    grid-area: navegador;
    text-align: center;
    border: solid black 1px;
}

.nav-rec ul li{
    padding: 20px;
    display: inline-block;
}

.nav-rec ul li:hover{
    animation: 0.5s infinite boton-menu;
    border: solid white 1px;
}

.nav-rec ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
}

@keyframes boton-menu {
    0% { transform: scaleX(1);}
    50% { transform: scaleX(1.15);}
    100% { transform: scaleX(1);}
}

/* grid del titulo con la seccion ---------------- */
.titulo_seccion{
    grid-area: seccion;
}

/* titulo ---------------------------------*/

.titulo h2{
    text-align: center;
    margin: 50px;
    font-size: 30px;
}
/* box seccion -------------------------------- */
section{
    grid-area: platos;
    padding: 0;
    margin: 0;
}

.box-seccion{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding: 100px;
    margin: 0 auto;
}
.box-recetas1,.box-recetas2,.box-recetas3,.box-recetas4{
    background-size: cover;
    background-position: center;
    height: 450px;
    max-width: 400px;
    border-radius: 5px;
    padding: 20px 10px;
    display: flex;
    align-items: end;
}

.box-texto{
    padding: 20px;
    border-radius: 5px;
    font-size: medium;
    text-align: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(to top, rgb(0 0 0/.7), rgb(0 0 0 / .7))
}

.box-texto h3{
    padding: 10px;
}

.box-enlace{
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgb(255, 208, 0);
}

.box-enlace a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

