* {
    margin: 0;
    padding: 0%;
    box-sizing:border-box ;
    font-family: 'Roboto', sans-serif;
    }

h1,h2,h3,h4{
    font-family: 'Roboto Slab', serif;
}

/* Estilo del header --------------------- */
header {
    grid-area: encabezado;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem ;
    background-color: rgb(255, 255, 255);
    
    /* color de fondo -------------------------------*/
    background-color: rgb(193, 237, 180);
    border:rgb(26, 51, 21);
    border-color: rgb(24, 26, 22);
    border-width: 0px 0px 2px 0px;
    border-radius: 10px;
}

.header-fondo{
    background-image: linear-gradient(rgba(26, 100, 15, 0.8), rgba(204, 239, 203, 0.2)), url(./Imagenes/header-fondo.webp);
    backdrop-filter: sepia(50%);
    padding: 200px;
    grid-area: encabezado;
}

/* Estilos del elemento .slide_img */
.slide_img {
    position: relative;
  }

.logo-container {
        flex: 1;
  }


.logo {
    max-width: 15rem;
    position: absolute;
    inset: 20px 0px 0px 20px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    position: absolute;
    inset: 20px 0px 0px 950px;
}

.nav-list li a {
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-size: 25px
}

.enlaces {
    margin-right: 20px;
    }

.buscar {
    position:relative;
}

.buscar input {
    width: 0px;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0 20px;
    font-size: 18px;
    color: rgb(17, 18, 17);
    outline: none;
    border: 1px solid rgb(37, 158, 5);
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn {
    position:absolute;
    top: 0;
    right: 0;
    margin-left: auto;
    background: rgb(37, 158, 85);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}


/* Estilos por defecto */
.abrir-menu,
.cerrar-menu {
    display: none;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
    }


   .nav1 {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items:end ;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color:rgb(110, 189, 127) ;
        padding: 2rem;
        z-index: 1;
   } 

   .nav1.visible {
        opacity: 1;
        visibility: visible;
   }

   .nav-list {
        flex-direction: column;
        align-items: end;
   }


   .form-control {
    width: 200px;
}
    }



/* Estilo del footer ------------------------------ */
footer {
    grid-area: pie;
    background-color: #ccefcb;
    box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, 0.281);
    padding: 30px 90px 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.2fr;
    grid-template-rows: 1fr 0.8fr 1.4fr 1fr;
    grid-template-areas:
        "redes info cuenta inicio"
        "redes info cuenta inicio"
        "redes info cuenta inicio"
        "copyright . . .";
}

.redes {
    justify-self: center;
    align-self: center;
    grid-area: redes;
}

.info {
    justify-self: center;
    grid-area: info;
}

.inicio {
    justify-self: end;
    align-self: start;
    grid-area: inicio;
    width: 65px;
    height: 80px;
}

.copyright {
    display: flex;
    justify-self: center;
    grid-area: copyright;
}

.cuenta {
    justify-self: center;
    grid-area: cuenta;
}

footer ul {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px;
}

footer ul li {
    display: flex;
    
}

footer ul li img {
    width: 40px;
}

.logofoot {
    width: 50px;
    justify-self: center;
    align-self: center;
}

.linkred {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: #000000;
    font-size: 20px;
    margin-left: 3px;
    align-self: center;
}

.linksfooter {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #000000;
    font-size: 15px;
    margin-left: 3px;
}

.inicio a {
    color: #000000c5;
    text-decoration: none;
    border-radius: 2px;
    border: 2px solid #000000c5;
}

.linksfooter:hover,
.redes ul li:hover,
.inicio a:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

footer p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #000000;
    margin: 16px 0px;
}

#foottit {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 17px;
    margin-left: 3px;
    font-weight: 5px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24,
}

footer .material-symbols-outlined{
    transform: scale(1.5);
}

/** 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.**/

@media screen and (max-width: 1024px) {
    footer {
        background-color: #ccefcb;
        box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, 0.281);
        padding: 30px 60px 15px;
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr 0.8fr 1.4fr 1fr;
        grid-template-areas:
            "redes info cuenta inicio"
            "redes info cuenta inicio"
            "redes info cuenta inicio"
            "copyright . . .";
    }

}

@media screen and (max-width: 768px) {
    footer {
        background-color: #ccefcb;
        box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, 0.281);
        padding: 30px 20px 15px;
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.2fr auto;
        grid-template-areas:
            "redes info cuenta"
            "redes info cuenta"
            "redes info cuenta"
            "copyright copyright inicio";
    }
    .inicio {
        justify-self: center;
        align-self: center;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    footer {
        background-color: #ccefcb;
        box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, 0.281);
        padding: 30px 10px 15px;
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.2fr auto;
        grid-template-areas:
            "redes info cuenta"
            "redes info cuenta"
            "redes info cuenta"
            "copyright copyright copyright";
    }
    .linkred{
        display: none;
    }
    .inicio{
        display: none;
    }
    .copyright{
        justify-self: center;
        transform:scale(0.9) ;
    }
    .info,.cuenta{
        transform: scale(0.8);
    }
}